html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    height: 100%;
	font: inherit;
    font-family: 'Raleway', sans-serif;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #18181b;
    padding: 10px;
    box-sizing: border-box;
}
.header .header-sticky{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.header .header-sticky .header-left{
    display: flex;
}
.header .header-sticky .header-left a div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-sticky .header-left a i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-sticky .header-left a.text{
    margin-left: 20px;
    margin-right: 23px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.header .header-sticky .header-left .text:hover{
    color: #bf94ff;
}
.header .header-sticky .header-left a.icon{
    font-size: 30px;
    color: #772ce8;
    transition: 100ms all;
}
.header .header-sticky .header-left a.icon:hover{
    transform: perspective(300px) rotateY(15deg) scale(1.192);
}
.header .header-sticky .header-left a.ellipsis{
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
}
.header .header-sticky .header-left a.ellipsis div{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.header .header-sticky .header-left a.ellipsis div:hover{
    background-color: #3b3b44;
}
.header .header-search{
    display: flex;
}
.header .header-search input{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right:1px solid #18181b;
    background-color: #3b3b44 ;
    padding-left:10px ;
    color: white;
    box-sizing: border-box;
    width: 330px;
}
.header .header-search input::placeholder{
    color: #848494;
}
.header .header-search input:hover{
    border: 2px solid #9794ff;
}
.header .header-search div{
    width: 30px;
    height: 30px;
    background-color: #3a3a3d;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.header .header-search div:hover{
    cursor: not-allowed;
    background-color:#444;
}
.header .header-search div i{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-right{
    display: flex;
}
.header .header-right div a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.header .header-right div a img{
    filter: invert(1);
    width: 15px;
    height: 15px;
}
.header .header-right div a:hover{
    background-color: #3b3b44;
}
.header .header-right button{
    background-color: #3a3a3d;
    margin-right: 20px;
    padding: 7px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
.header .header-right button:hover{
    background-color: #444;
}
.header .header-right button img{
    filter: invert(1);
    margin-right: 5px;
}
.header .header-right img.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.left-panel{
    position: fixed;
    top:  50px;
    left:0 ;
    height: 100%;
    width: 250px;
}
.container{
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    /* height: 100%; */
    background-color: #1f1f23;
    box-sizing: border-box;
}
.left-panel .container .following .box-top{
    display: flex;
    width: 240px;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 7px;
}
.left-panel .container  .following .box-top div{
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.left-panel .container  .following .box-top a{
    margin-left: auto;
}
.left-panel .container  .following .box-top a img{
    width: 40px;
    height: 20px;
    filter: invert(1);
}
.left-panel .container  .following .box-main {
    width: 250px;
    height: 45px;
    background-color: red;
}
.left-panel .container .box-bottom {
    color: #1f1f23;
    height: 35px;
    width: 240px;
}